<%= form_with model: @twitter_user, url: twitter_users_path, local: true do |f| %>
    <div class="form-group row g-0">
      <div class="col-6">
        <%= f.text_field :username, class: 'form-control', placeholder: 'TwitterIDを入力（例：yoiyoicho）' %>
      </div>
      <div class="col-auto">
        <%= f.submit '保存する', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
  <br>



  <table class="table">
    <thead>
      <tr>
        <th>user名</th>
        <th>削除ボタン</th>
      </tr>
    </thead>
    <tbody>
      <% @twitter_users.each do |user| %>
        <tr>
          <td><%= link_to user.name, twitter_user_path(user) %></td>
          <td><%= button_to "削除", twitter_user_path(user), method: :delete, data: { confirm: "本当によろしいですか？" }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
